// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import "./application/**/*";

h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fcfcfc;
}
