@import "./application/bootstrap/variable";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";

@import "./application/**/*";

html {
  height: 100%;
}

body {
  background-color: #fcfcfc;
  height: 100%;
  position: relative;
}

h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}

@media (max-width: $scren-sm-min) {
  html {
    height: auto;
  }

  body {
    height: auto;
    position: relative;
    padding-bottom: 100px;
  }

  #footer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
  }
}
